/*
	Some useful functions to help simply scss 
*/
/* 
	this is for general style of left and rght layout page 
 */
.two-columns-wrap {
  margin-top: 30px;
  text-align: justify; }

.two-columns-wrap:after {
  content: "";
  display: inline-block;
  width: 100%; }

.left-navigation, .right-content {
  display: inline-block;
  background: rgba(0, 0, 0, 0.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }

.left-navigation {
  margin-right: 0; }

.left-navigation {
  width: 20%;
  height: 700px; }

.right-content {
  width: 70%;
  height: 700px;
  float: right; }

.sub-content-wrap {
  overflow: scroll;
  height: 600px; }

.ripple-volume-adjuster-wrap {
  margin-top: 20px; }

.account-block {
  position: absolute;
  right: 10px;
  top: 12px;
  font-weight: 50;
  color: #7dce94; }

.account-title {
  text-align: right;
  cursor: default; }
  .account-title:hover {
    text-decoration: underline; }

.account-setting {
  background: #3d3d3f;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.account-setting li {
  position: relative;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 30px; }

.account-setting li:nth-child(1) {
  padding-top: 0; }

.account-setting li :before {
  position: absolute;
  left: 0;
  content: "";
  height: 20px;
  width: 3px;
  background: #7dce94; }

.account-setting li a {
  text-decoration: none; }

/*
	Some useful functions to help simply scss 
*/
.subpage-title {
  font-size: 5rem;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: solid 1px #f9f8fd; }

/* 
	Style navigation 
*/
.navigation-item {
  color: #7dce94;
  cursor: pointer; }

/* 
	Focus Now Section 
*/
.sub-content-title {
  display: block;
  font-size: 2.5rem;
  padding-bottom: 10px;
  border-bottom: solid 1px #f9f8fd; }

.ripple-play-btn-wrap {
  width: 200px;
  font-size: 2.5rem;
  margin-left: 50px; }

.ripple-focus-track-name {
  display: inline-block;
  font-size: 2rem;
  color: #7dce94; }

.focus-track-li {
  height: 150px;
  padding-top: 20px;
  padding-bottom: 20px; }

/* 
	All track style
 */
.ripple-song-name {
  width: 100%;
  color: #7dce94;
  margin-top: 20px; }

.ripple-artist {
  width: 100%;
  color: #7dce94;
  margin-top: 10px;
  margin-bottom: 20px; }

.ripple-all-track-play-btn, .ripple-like-btn-wrap {
  font-size: 1.5rem;
  width: 200px;
  border: solid 1px #f9f8fd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer; }

.ripple-all-track-li {
  border-bottom: solid 1px #f9f8fd;
  height: 150px;
  line-height: 40px; }

.ripple-all-track-play-btn {
  margin-left: 0; }

.ripple-like-btn-wrap {
  margin-left: 40px; }

/* 
	style for show all blogs
 */
.right-content {
  width: 100%; }

.ripple-blog-poster, .ripple-blog-content, .ripple-blog-date {
  display: block; }

.ripple-blog-poster {
  background: #7dce94;
  color: #f9f8fd; }

.ripple-all-blog-li {
  height: 150px;
  margin-top: 20px; }

.ripple-blog-content {
  height: 120px; }

/* 
	Recommendation cotent section style 
*/
.sub-recommend-content-li {
  height: 60px;
  padding-top: 20px; }

.focus-track-li {
  width: 100%; }

.ripple-volume-adjuster-wrap {
  position: relative;
  width: 300px;
  height: 10px;
  background: #f6f5f3; }

.ripple-volume-inner {
  position: absolute;
  height: 10px;
  background: #7dce94; }

.ripple-play-btn-wrap svg {
  fill: #f6f5f3; }

/*# sourceMappingURL=share_home-style.css.map */