.page-main-title {
	font-size: 5rem;
	padding: 10px;

	border-bottom: solid 1px $white-ish;
}

.four-sections-wrap {
	margin-top: 50px;
	text-align: justify;
}

.four-section {
	position: relative;

	display: inline-block;
	height: 200px;
	width: 400px;

	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;

	background: rgba(0, 0, 0, 0.7);

	@include border-radius(5px);
}

.four-section:nth-child(1), .four-section:nth-child(2){
	margin-bottom: 20px;
}

.four-section-title {
	font-size: 2rem;
	font-weight: 500;

	color: $simpler-lime-green;
}

.linkbtn {
	width: 370px;

	margin-top: 15px;
}

.four-section-title, .four-section-bottom {
	display: absolute;
}

// create a invisible 
.four-sections-wrap:after {
	content: "";
	display: inline-block;
	width: 100%;
}
