@import 'mixins';

.subpage-title {
	@include sub-page-title();
}

/* 
	Style navigation 
*/

.navigation-item {
	color : $simpler-lime-green;
	cursor: pointer;
}

/* 
	Focus Now Section 
*/

.sub-content-title {
	display: block;
	font-size: 2.5rem;
	// line-height: 100px;
	padding-bottom: 10px;
	border-bottom : solid 1px $white-ish;
}

.ripple-play-btn-wrap {
	width: 200px;
	font-size: 2.5rem;

	margin-left: 50px;
}

.ripple-focus-track-name {
	display: inline-block;
	font-size: 2rem;
	color: $simpler-lime-green;
}


.focus-track-li {
	height: 150px;

	padding-top: 20px;
	padding-bottom: 20px;
}

/* 
	All track style
 */

 .ripple-song-name {
 	width: 100%;
 	color: $simpler-lime-green;
 	margin-top: 20px;
 }

 .ripple-artist {
 	width: 100%;
 	color: $simpler-lime-green;
 	margin-top: 10px;
 	margin-bottom: 20px;
 }

 .ripple-all-track-play-btn, .ripple-like-btn-wrap {
 	font-size: 1.5rem;
 	width: 200px;

 	border: solid 1px $white-ish;
 	@include border-radius(5px);
	
	padding: 10px;
	
	margin-top: 20px;

	cursor: pointer;
 }

 .ripple-all-track-li {
 	border-bottom: solid 1px $white-ish;
 	height: 150px;

 	line-height: 40px;

 }

 .ripple-all-track-play-btn {
 	margin-left: 0;
 }

 .ripple-like-btn-wrap {
 	margin-left: 40px;
 }

 /* 
	style for show all blogs
 */

 .right-content {
 	width: 100%;
 }

.ripple-blog-poster, .ripple-blog-content, .ripple-blog-date {
	display: block;
}

.ripple-blog-poster {
	background: $simpler-lime-green;
	color: $white-ish;
}

.ripple-all-blog-li {
	height: 150px;

	margin-top: 20px;
}

.ripple-blog-content {
	height: 120px;
}

/* 
	Recommendation cotent section style 
*/

.sub-recommend-content-li {
	height: 60px;
	padding-top: 20px;
}













